@media screen and (min-width: 720px) {
  /*-------------------------------------MAIN--------------------------------------*/
  /*skills section*/
  .skill-container {
    flex-flow: row wrap;
  }
  .skill-container h2 {
    flex: 1 0 100%;
    text-align: center;
  }
  .skill-container article .logo-cont {
    margin-right: 0.5em;
  }
  .skill-container article {
    justify-content: center;
    flex: 1 0 40%;
  }

  /*Favourite section*/
  .fav-container {
    /* flex-direction: row; */
  }
  .fav-container::before {
    height: 90px;
  }
  .fav-container::after {
    height: 100px;
  }
  /*projects section*/
  .projects-container {
    grid-template-columns: 10% 450px 10%;
  }
  .projects-container h2 {
    font-size: 3em;
  }

  .project-card {
    height: 45vh;
    width: 450px;
    margin-right: 50px;
  }

  .comment-container::before {
    height: 150px;
  }
}
