@media screen and (min-width: 1020px) {
  /*-------------------------------------MAIN--------------------------------------*/
  /*----------------------Skills----------------------*/
  .skills-box {
    flex: 0 0 30%;
  }
  /*----------------------Projects----------------------*/
  .projects-container {
    height: 70vh;
  }
  .project-card img {
    object-fit: cover;
  }

  #description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #description h2 {
    flex: 0 0 100%;
  }
  #description article {
    flex: 0 0 40%;
  }
}
