/*---------------------------------General---------------------------------------------*/
:root {
  --principal: #ff0000;
  --secondary: #14213d;
  --tertiaty: #fca311;
}
/*---------------------------------Header---------------------------------------------*/
/*-------------------dark btn------------*/
.btn-theme {
  position: fixed;
  top: 5vh;
  right: 5vw;
  height: 30px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--principal);
  z-index: 990;
  border: 1px solid black;
}
.btn-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  z-index: 991;
  transform: translateX(0);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-move {
  transform: translateX(20px);
  background: var(--tertiaty);
  transition: transform 0.5s ease;
}
/*-------------------header------------*/
header {
  display: flex;
  height: 100vh;
  position: relative;
}
.header-side-left,
.header-side-right {
  flex: 0 0 50%;
  height: 100%;
}
.header-side {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.header-side h1 span:first-child,
.header-side-right p {
  color: white;
}
.header-side h1 span:last-child {
  color: var(--principal);
  animation-name: side-letter-coloring;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
.header-side-left {
  background-color: var(--principal);
  transform: scaleX(1);
  transition: transform 0.5s ease;
  animation-name: sideTranslate;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

.header-side-right {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}
.header-side-right p {
  display: flex;
  text-align: center;
  align-items: flex-end;
  font-size: 3em;
  font-weight: bold;
  margin: 0 auto;
  height: 90%;
}
.header-side-right p span:first-child {
  /* margin: 7rem 0 2rem; */
}
.header-side-right p span:last-child {
  /* margin: 2.5rem 0; */
}
/* .header-side-translate {
  transform: scaleX(3);
  transition: transform 0.5s ease;
} */
@keyframes sideTranslate {
  0% {
    transform: scaleX(1);
    /* transition: transform 0.5s ease; */
  }
  20% {
    transform: scaleX(3);
    /* transition: transform 0.5s ease; */
  }
  70% {
    transform: scaleX(3);
  }
  90% {
    transform: scaleX(1);
  }
}
@keyframes side-letter-coloring {
  0% {
    color: red;
  }
  20% {
    color: rgb(6255, 255, 255);
  }
  70% {
    color: white;
  }
  90% {
    color: red;
  }
}

/*---------------------------------Main---------------------------------------------*/
/* [data-dark="background"] {
  background-color: black;
} */
/* [data-dark="letter"] {
  color: black;
} */
