/*---------------------------------General---------------------------------------------*/
:root {
  --principal: #ff0000;
  --secondary: #14213d;
  --tertiaty: #fca311;
}
/*---------------------------------Header---------------------------------------------*/
header {
  display: flex;
  height: 100vh;
  position: relative;
}
.header-side-left,
.header-side-right {
  flex: 0 0 50%;
}
.header-side {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.header-side h1 span:first-child {
  color: white;
}
.header-side h1 span:last-child {
  color: var(--principal);
}
.header-side-left {
  background-color: var(--principal);
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.header-side-right {
  background-color: white;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

/*---------------------------------Main---------------------------------------------*/
/* [data-dark="background"] {
  background-color: black;
} */
/* [data-dark="letter"] {
  color: black;
} */
