@media screen and (min-width: 720px) {
  /*projects section*/
  .projects-container {
    grid-template-columns: 10% 450px 10%;
    /* place-content: ; */
  }

  .project-card {
    height: 45vh;
    width: 450px;
    margin-right: 50px;
  }
}
