aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
.container {
  /* padding: 0em 2em; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  font-size: 2em;
  flex-direction: column;
  height: 40vh;
}
.container span {
  border-bottom: 1px solid white;
  font-size: 2em;
}
